---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  #btnSearch,
  #btnClear{
      display: inline-block;
      vertical-align: top;
  }
  
  <div class="row">
    <div class="col-sm-12 text-center">
      <form action="/sports">
            <button class="btn btn-primary btn-lg" type="submit">Sports</button>
      </form>
      <form action="/portraits">
            <button class="btn btn-primary btn-lg" type="submit">Portraits</button>
      </form>
    </div>
  </div>

</div>
