---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="container">

    <div class="row text-center">

      <div class="col-sm-6">
        <figure>
        <img style="max-height:220px" src="/assets/images/p_thumbnail.jpg" class="img-responsive img-circle" alt="Responsive image">
        <figcaption>
        <button class="btn btn-primary btn-lg" onclick="location.href='/portraits'" type="button">Portraits</button>
        </figcaption>
        </figure>
      </div>

      <div class="col-sm-6">
        <img style="max-height:220px" src="/assets/images/s_thumbnail.jpg" class="img-responsive img-circle" alt="Responsive image">
        <button class="btn btn-primary btn-lg" onclick="location.href='/sports'" type="button">Sports</button>
      </div>

    </div>

  </div>

</div>
