---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="center-block">
    <div class="col-sm-4">
      <img style="max-height:220px" src="/assets/images/p_thumbnail.jpg" class="img-responsive img-circle" alt="Responsive image">
      <button class="btn btn-primary btn-lg" onclick="location.href='/portraits'" type="button">Portraits</button>
    </div>
    <div class="col-sm-8">
      <img style="max-height:220px" src="/assets/images/s_thumbnail.jpg" class="img-responsive img-circle" alt="Responsive image">
      <button class="btn btn-primary btn-lg" onclick="location.href='/sports'" type="button">Sports</button>
    </div>
  </div>

  <div class="text-center">
    <div class="btn-group">
      <button class="btn btn-primary btn-lg" onclick="location.href='/portraits'" type="button">Portraits</button>
      <button class="btn btn-primary btn-lg" onclick="location.href='/sports'" type="button">Sports</button>
    </div>
  </div>

</div>
